<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Front End Unit Testing</title>
    <link rel="stylesheet" href="styles/style.css">
    <script type="text/javascript" src = 'vendors/angular/angular.js'></script>
    <script type="text/javascript" src = 'scripts/client.js'></script>
  </head>

  <body ng-controller="UnitTestController">
    <div>{{title}}</div>
    <div>
      <input ng-model=inputValue></input>
      <button ng-click=submitInput(inputValue)>click</button>
    </div>
    <div>
      {{outputValue}}
    </div>

  </body>
</html>
